openapi: 3.0.3
info:
  title: Crypto Game Backend Example API
  version: "1.0.0"
  description: |
    Simple educational Node.js backend for crypto-powered games.
    This API allows user registration, login, payment verification, balance management, and game sessions.

servers:
  - url: https://api.games.zent.cash:3000/api
    description: Tested development server 

tags:
  - name: Auth
    description: User registration and login
  - name: Payment
    description: Payment verification endpoints
  - name: Game
    description: Game session endpoints

paths:
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  example: user@example.com
                password:
                  type: string
                  example: strongpassword
      responses:
        "200":
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User created
                  paymentId:
                    type: string
                    example: 4a5f2b6c3e8d9f0a1234567890abcdef1234567890abcdef1234567890abcdef
        "400":
          description: Missing or invalid data
        "500":
          description: Internal server error

  /auth/login:
    post:
      tags: [Auth]
      summary: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  example: user@example.com
                password:
                  type: string
                  example: strongpassword
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  balance:
                    type: number
                    example: 0
                  paymentId:
                    type: string
                    example: 4a5f2b6c3e8d9f0a1234567890abcdef1234567890abcdef1234567890abcdef
        "400":
          description: Invalid credentials
        "500":
          description: Internal server error

  /auth/changenick:
    post:
      tags: [Auth]
      summary: Change your username.
      description: |
        Updates the player's nickname. The new nickname will be used to identify the player in the system and in game rankings.
      security:
       - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  example: Picolo
      responses:
        "200":
          description: Nickname updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true        

  /payment/check:
    get:
      tags: [Payment]
      summary: Check pending payments and update balance
      security:
       - bearerAuth: []
      responses:
        "200":
          description: Payment status returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Confirmed payment
                  amount:
                    type: number
                    example: 10
        "401":
          description: Unauthorized
        "500":
          description: Internal server error

  /payment/withdraw:
    post:
      tags: [Payment]
      summary: Withdraw funds
      security:
       - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [destination, amount]
              properties:
                destination:
                  type: string
                  example: Ze3pRGcsw9YGBJ5h...
                amount:
                  type: number
                  example: 150
      responses:
        "200":
          description: Withdrawal successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  Withdrawal sent:
                    type: string
                    example: Withdrawal sent
                  amount:
                    type: number
                    example: 2250
                  fee:
                    type: number
                    example: 150
                  balance:
                    type: number
                    example: 7500
                  txHash:
                    type: string
                    example: b49a7804c955a38df0d0c07cc5b9f876209b64f995d9a547ec41db560dd0e4a1
        "500":
          description: Withdrawal failed

  /game/list:
    get:
      tags: [Game]
      summary: List of games and prices.
      security:
       - bearerAuth: []
      responses:
        "200":
          description: List of games returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    cost:
                      type: number
              example:
                games:
                  - name: blackjack
                    cost: 15
                  - name: roulette
                    cost: 20
                  - name: slots
                    cost: 10          
        "500":
          description: Error fetching games.            

  /game/play:
    post:
      tags: [Game]
      summary: Start a game session and deduct balance.
      security:
       - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [game]
              properties:
                game:
                  type: string
                  example: blackjack
      responses:
        "200":
          description: Game session started.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Game started
                  sessionId:
                    type: integer
                    example: 1
                  cost:
                    type: number
                    example: 15
        "400":
          description: Insufficient balance.
        "401":
          description: Unauthorized.
        "404":
          description: Game not found.
        "500":
          description: Error starting game.    

  /game/score:
    post:
      tags:  [Game]
      summary: Submits the score achieved by the user for a specific game session.
      description: |
        Submits the score achieved by the user for a specific game session.
        A score can only be submitted once per session and must belong to the authenticated user.
        The endpoint validates that the session exists and has not already been scored.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionId, score]
              properties:
                sessionId:
                  type: integer
                  example: 1500
                  description: Unique ID of the game session.
                score:
                  type: number
                  example: 2000
                  description: Score achieved in this session.
      responses:
        "200":
          description: The game session ended successfully and your score was submitted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "500":
          description: Error saving score.

  /game/rankinglist:
    post:
      tags:  [Game]
      summary: List of the best players with their scores.
      description: |
        Returns a list of the best players ranked by their scores. The results are ordered from highest to lowest score and can be used to display a leaderboard of top players in the game.        
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [game]
              properties:
                game:
                  type: string
                  example: tetris
                  description: Game name.
                rank:
                  type: number
                  example: 10
                  description: Number of positions on the list.
      responses:
        "200":
          description: List of the best players with their scores.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    username:
                      type: string
                    score:
                      type: number
              example:
                games:
                  - username: Anonymous-06
                    score: 15
                  - username: Anonymous-05
                    score: 20
                  - username: Anonymous-04
                    score: 10               
        "400":
          description: Game required.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
